.rodape {
    text-align: center;
    background-color: #22D4FD;
    font-family: var(--fonte-texto);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--azul-escuro);
    padding: 26px 0;
    
}

@media screen and (max-width: 480px){
    .rodape{
        font-size: 18px;
    }
}