@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('./css/_home-cabecalho.css');
@import url('./css/_home-secao-principal.css');
@import url('./css/_home-secao-minhas-redes.css');
@import url('./css/_home-secao-projetos.css');
@import url('./css/_home-rodape.css');
@import url('./css/_sobre-principal.css');
@import url('./css/_projeto-principal.css');


:root {
    --azul-escuro: #123F77;
    --azul-claro: #22D4FD;
    --azul-gradiente:  linear-gradient(174.61deg, #041833 4.16%, #04244F 48%, #154580 96.76%);
    --branco: #FFFFFF;
    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background: var(--azul-gradiente) no-repeat;
}

.menu-principal {

    height: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
}




